.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

input {
  padding: 10px;
  height: 20px;
  width: 600px;
  border: 1px solid purple;
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.pos-rel {
  position: relative;
}

.autoContainer {
  position: absolute;
  right: 10px;
  top: 52px;
  width: 620px;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.option {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 30px;
  width: 588px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
}

.symbol {
  text-align: right;
  font-size: 20px;
}

.label {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.labelbox {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 30px;
  width: 588px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: green;
}

.company {
  text-align: left;
  font-size: 15px;
}

.option,
span {
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
